*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.header{
    background:linear-gradient(135deg,#dc2626,#7f1d1d);
    padding:30px;
    text-align:center;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
}

.header h1{
    font-size:30px;
}

.header p{
    margin-top:6px;
    opacity:.9;
}

main{
    padding:20px;
}

.card{
    background:#1e293b;
    border-radius:20px;
    padding:20px;
    text-align:center;
    margin-bottom:20px;
}

.card h2{
    color:#cbd5e1;
}

.card h1{
    color:#22c55e;
    font-size:42px;
    margin-top:10px;
}

.botones{
    display:flex;
    flex-direction:column;
    gap:15px;
}

button{
    padding:18px;
    font-size:18px;
    border:none;
    border-radius:15px;
    background:#dc2626;
    color:white;
    font-weight:bold;
}

button:active{
    transform:scale(.98);
}

#historial{
    margin-top:20px;
}

.registro{
    background:#1e293b;
    padding:15px;
    margin-bottom:10px;
    border-radius:15px;
    border-left:5px solid #22c55e;
}
