*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111827;
    color:white;
}

.header{
    background:#dc2626;
    text-align:center;
    padding:25px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.header h1{
    font-size:30px;
}

.header p{
    margin-top:8px;
}

main{
    padding:20px;
}

.card{
    background:#1f2937;
    border-radius:15px;
    padding:20px;
    text-align:center;
    margin-bottom:20px;
}

.card h1{
    color:#22c55e;
    font-size:40px;
}

.botones{
    display:flex;
    flex-direction:column;
    gap:12px;
}

button{
    background:#dc2626;
    color:white;
    border:none;
    border-radius:12px;
    padding:18px;
    font-size:18px;
    font-weight:bold;
}

button:active{
    transform:scale(0.98);
}

#historial{
    margin-top:20px;
}

.registro{
    background:#1f2937;
    padding:15px;
    margin-top:10px;
    border-radius:10px;
}
